<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>

  <!--
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  -->

  <system.serviceModel>

    <bindings>
      <netTcpBinding>
        <binding name="MyTcpBinding" maxReceivedMessageSize="2147483647" receiveTimeout="00:30" sendTimeout="00:30">
          <readerQuotas maxStringContentLength="8192" maxArrayLength="20971520"/>
          <security mode="Transport">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>

        <binding name="TcpIntranetWindowsSecurity" maxReceivedMessageSize="2147483647" receiveTimeout="00:30" sendTimeout="00:30">
          <readerQuotas maxStringContentLength="8192" maxArrayLength="20971520"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
          </security>
        </binding>

      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Agatha.ServiceLayer.WCF.WcfRequestProcessor" behaviorConfiguration="MyBehavior">
        <endpoint contract="Agatha.Common.WCF.IWcfRequestProcessor" binding="netTcpBinding" bindingConfiguration="TcpIntranetWindowsSecurity" address="net.tcp://localhost:808/RequestProcessor"/>
        <!--        <endpoint-->
        <!--            contract="Agatha.Common.WCF.IWcfRequestProcessor"-->
        <!--            binding="netTcpBinding"-->
        <!--            bindingConfiguration="TcpIntranetWindowsSecurity"-->
        <!--            address="net.tcp://myserver:808/RequestProcessor" />-->
      </service>
    </services>

  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <!--          <add name="traceListener"-->
          <!--              type="System.Diagnostics.XmlWriterTraceListener"-->
          <!--              initializeData="c:\logs\myapp\server\Traces.svclog" />-->
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
